;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Mon Jan 17 13:13:36 2011
;; Desktop file format version 206
;; Emacs version 23.2.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name "/home/fabiim/src/socialEvents/TAGS")
(setq tags-table-list nil)
(setq search-ring nil)
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("~/src/socialEvents/lib/socialEvents.pm"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/fabiim/src/socialEvents/lib/socialEvents.pm"
  "socialEvents.pm"
  'perl-mode
  nil
  2210
  '(nil nil)
  nil
  nil
  '((tab-width . 2) (buffer-file-coding-system . undecided-unix)))

