[% META title = "Bem vindo ao Diffuse! ( Diffuse ? really?" %]
<p>Aqui pode gerir os seus eventos sociais e provar que têm amigos e conhecer mais amigas!.</p>
<p>TODO LIST</p>
<p>Muita coisa mesmo </p>

